// You can add styles here
body {
    background-color: rgba(190, 190, 190, 1);
    .navigation-bar {
        display: block;
        height: 150px;
        border-bottom: solid 2px gray;
        background-color: lightgray;
        ul.navigation-links {
            list-style: none;
            display: block;
            float: left;
            li {
                display: inline-block;
                padding: 10px;
            }
        }
    }
}

.buy-button {
    float: right;
}

.nav-background {
    background-color: black;
    margin-bottom: 10px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: rgba(50, 50, 50, 1);
    color: white;
}

.nav-tabs .nav-link, .nav-tabs .nav-link.disabled, .nav-tabs .nav-link.disabled:hover, .nav-tabs .nav-link.disabled:focus {
    background-color: rgba(50, 50, 50, 1);
}

.container {
}

.card-image-custom {
    display: block;
}

.sub-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bundle-container {
    width: 100%;
}

.bundle-card-container {
    text-align: center;
}

.bundle-bubble-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.custom-card-order {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.btn-success {
    width: 100%;
}

.card-body {
    background-color: rgb(200, 200, 200);
}

.card-header {
    color: rgba(0, 0, 175, 0.75);
}

.card-text:last-child {
    height: 150px;
}

.cart-remove-button {
    margin-top: 20px;
}

.logo-icon {
    width: 2.25%;
    height: 2.25%;
}
